Z0 ICON "images\systray.ico"
Z1 ICON "images\systray-writting.ico"
Z2 ICON "images\systray-disabled.ico"
Z3 ICON "images\systray-16.ico"
Z4 ICON "images\systray-writting-16.ico"
Z5 ICON "images\systray-disabled-16.ico"